* {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}
$blue: #238af3;
$dark-blue: #252774;
$Subtitle: 2em;
// Функции
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
//Анимация появления
@keyframes framIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//Анимация затухания
@keyframes framOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  // Главный
  .top {
    display: flex;
    width: 100%;
    flex-direction: column;
    .t-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .t-logo {
        display: flex;
        width: 85vw;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;
        .number {
          color: $dark-blue;
          font-size: 20px;
          font-weight: 600;
          transition: all 0.3s;
        }
        .number:hover {
          color: $blue;
        }
        .ent {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $dark-blue;
          padding: 15px 40px;
          transition: all 0.3s;
          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
        .ent:hover {
          background: #238af3;
        }
        .t-button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $dark-blue;
          padding: 15px 20px;
          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      .pop-up {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.322);
        justify-content: center;
        align-items: center;
        .wind {
          display: flex;
          flex-direction: column;
          background: #fff;
          padding: 40px;
          gap: 25px;
          border-radius: 5px;
          box-shadow: 0 0 20px rgb(12, 12, 12);
          .t-but {
            display: flex;
            align-items: self-start;
            justify-content: space-between;
            gap: 60px;
            p {
              text-align: left;
              font-size: 24px;
              font-weight: 700;
              color: rgb(56, 56, 56);
            }
          }
          .poli {
            display: flex;
            flex-direction: column;
            gap: 5px;
            input {
              color: black;
              padding: 15px;
              border-radius: 3px;
              outline: 2px solid #d8d8d8;
              outline-offset: -2px;
            }
            .error {
              display: none;
              color: rgb(168, 168, 168);
              font-size: 14px;
              font-weight: 45 0;
            }
          }
          .ent-button {
            background: $dark-blue;
            padding: 15px;
            border-radius: 3px;
            transition: all 0.3s;
            text-align: center;
          }
          .ent-button:hover {
            background: $blue;
          }
          .reg-button {
            display: flex;
            justify-content: center;
            p {
              color: $dark-blue;
              font-weight: 600;
              transition: all 0.3s;
            }
          }
          .reg-button:active {
            p {
              color: $blue;
            }
          }
        }
        .regist {
          display: none;
          flex-direction: column;
          background: #fff;
          padding: 40px;
          gap: 25px;
          border-radius: 5px;
          box-shadow: 0 0 20px rgb(12, 12, 12);
          .t-but {
            display: flex;
            align-items: self-start;
            justify-content: space-between;
            gap: 120px;
            p {
              text-align: left;
              font-size: 24px;
              font-weight: 700;
              color: rgb(56, 56, 56);
            }
          }
          .poli {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .input {
              color: black;
              padding: 15px;
              border-radius: 3px;
              outline: 2px solid #d8d8d8;
              outline-offset: -2px;
            }
            .error {
              display: none;
              color: rgb(168, 168, 168);
              font-size: 14px;
              font-weight: 45 0;
            }
          }
          .password-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-radius: 3px;
            outline: 2px solid #d8d8d8;
            outline-offset: -2px;
            .pass {
              color: black;
            }
            a {
              display: flex;
              align-items: center;
            }
          }
          .reg-button {
            background: $dark-blue;
            padding: 15px;
            border-radius: 3px;
            transition: all 0.3s;
            text-align: center;
          }
          .reg-button:hover {
            background: $blue;
          }
          .ent-button {
            display: flex;
            justify-content: center;
            p {
              color: $dark-blue;
              font-weight: 600;
              transition: all 0.3s;
            }
          }
          .ent-button:active {
            p {
              color: $blue;
            }
          }
        }
      }
      .pop-up.openPop {
        animation: framIn 0.4s ease-in-out;
      }
      .pop-up.closePop {
        animation: framOut 0.4s ease-in-out;
      }
      .navigator {
        display: flex;
        width: 60vw;
        padding: 30px 0;
        justify-content: space-between;
        p {
          font-size: 16px;
          font-weight: 600;
          color: $dark-blue;
          transition: all 0.3s;
        }
        p:hover {
          color: $blue;
        }
      }
    }
    .t-body {
      background-color: #ffffffaf;
      background: url(/img/Fons.svg); // Заменить
      background-position: center;
      background-size: cover;
      background-attachment: fixed; // Фиксация изображения
      .t-dark {
        background: rgba(0, 0, 0, 0.438);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px 0 60px 0;
        gap: 70px;
        .t-text {
          width: 940px;
          display: flex;
          flex-direction: column;
          gap: 35px;
          text-align: center;
          .te1 {
            font-size: 54px;
            font-weight: 600;
          }
          .te2 {
            font-size: 24px;
            font-weight: 400;
          }
        }
        .buts {
          display: flex;
          align-items: center;
          gap: 40px;
          .but-1 {
            background: $blue;
            padding: 20px 40px;
            transition: all 0.4s;
            p {
              font-size: 16px;
              font-weight: 400;
              color: #fff;
              transition: all 0.4s;
            }
          }
          .but-1:hover {
            background: #fff;
            p {
              color: $blue;
            }
          }
          .but-2 {
            padding: 20px 70px;
            outline: 3px solid #fff;
            outline-offset: -3px;
            transition: all 0.4s;
            p {
              color: #fff;
              transition: all 0.4s;
            }
          }
          .but-2:hover {
            outline: 3px solid $blue;
            outline-offset: -3px;
            p {
              color: $blue;
            }
          }
        }
      }
    }
  }
  // О нас
  .about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0;
    .a-body {
      width: 60vw;
      display: flex;
      justify-content: center;
      .a-image {
        img {
          width: 35vw;
        }
      }
      .a-block {
        position: relative;
        top: 40px;
        left: -40px;
        z-index: 1;
        width: 400px;
        display: flex;
        flex-direction: column;
        background: #f5f5f5;
        gap: 25px;
        padding: 45px;
        .aboutus {
          font-size: 36px;
          color: #303030;
        }
        .a-text {
          font-size: 18px;
          font-weight: 500;
          line-height: 25px; // Межстрочковый интервал
          color: #4e4e4e;
        }
        .a-button {
          width: 270px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #238af3;
        }
      }
    }
  }
  .aboutus-2 {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    .about-2 {
      width: 940px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .text-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .t-1 {
          font-size: 44px;
          color: black;
        }
        .t-2 {
          font-size: 24px;
          color: #4e4e4e;
        }
      }
      .text-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .t-3 {
          font-size: 18px;
          color: black;
        }
        .t-4 {
          font-size: 18px;
          color: black;
        }
      }
    }
  }
  // Новости
  .new {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: #9c9c9c;
    padding: 50px 0;
    gap: 50px;
    p {
      color: black;
      font-weight: 600;
    }
    .min-new {
      color: #575757;
    }
    .new-top {
      width: 60vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .left-new {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .contacts {
    width: 100%;
    height: 100vh;
  }
  .c-main {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  .c-top {
    width: 100%;
    height: 25vh;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
  }
  footer {
    width: 100%;
    height: 50vh;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    .f-main {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 5%;
      .f {
        color: white !important;
      }
    }
  }
  .q-bg {
    background-image: url(../img/Фон1.png);
    height: 100vh;
    .q-shadow {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      background: rgba(0, 0, 0, 0.363);
      .q-top {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: self-end;
        font-size: 64px;
        font-weight: 600;
        //letter-spacing: 0.02em;
        color: white;
        background: linear-gradient(
          180deg,
          #17161f 0%,
          rgba(21, 30, 47, 0) 100%
        );
      }
      .q-main {
        width: 75vw;
        height: 85%;
        display: flex;
        align-items: center;
        gap: 60px;
        .q-left {
          min-width: 437px;
          min-height: 437px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: #fff;
          font-family: Josefin Sans;
          border-radius: 500px;
          font-weight: 400;
          font-size: 205px;
          color: $dark-blue;
          p {
            font-size: 20px;
            font-family: Montserrat;
            font-weight: 700;
            color: $dark-blue;
          }
        }
        p {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 36px;
        }
      }
    }
  }
  .slider {
    width: 100%;
    //max-width: 800px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .slide {
      width: 100%;
      //max-width: 800px;
      height: 100vh;
      position: absolute;
      transition: all 0.5s;
    }
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 0%;
      margin: 0%;
    }
    .btn {
      background-color: red;
      position: absolute;
      width: 30%;
      height: 100vh;
      //padding: 10px;
      border: none;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      background-color: #fff;
      font-size: 18px;
    }
    .btn:active {
      transform: scale(1.1);
    }
    .btn-prev {
      left: 1px;
    }

    .btn-next {
      right: 1px;
    }
    #slide3 {
      width: 100vw;
      height: 100vh;
    }
  }
  .catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cat-classes {
      display: flex;
      flex-direction: row;
    }
    .cat-line {
      display: flex;
      flex-direction: row;
    }
    .cat,
    .cat-class,
    .cat-top {
      color: black;
    }
  }
  .map {
    //height: 100%;
    width: 100vw;
  }
  .c-box {
    position: relative;
    left: 100px;
    bottom: -87vh;
    width: fit-content;
    background-color: $dark-blue;
    display: flex;
    gap: 2em;
    flex-direction: column;
    padding: 3em;
    border-radius: 5% 5% 0px 0px;
    .separator {
      width: 100%;
      font-size: 1.2em;
      font-weight: 600;
    }
    .c-box-line {
      display: flex;
      align-items: center;
      gap: 2em;
      .box-text-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
  .qna {
    height: 100vh;
    max-width: 100vw;
    background-color: rgba($dark-blue, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    overflow: hidden;
  }
  .qna-left-top {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .qna-content {
    width: 100%;
    overflow: hidden;
  }
  .qna-form {
    width: 30vw;
    height: 50vh;
    background-color: rgba($blue, 0.5);
  }
}
.blockquestions {
  background-color: rgba(
    128,
    128,
    128,
    0.4
  ); /* Серый цвет с прозрачностью 0.4 */
}

.quests {
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Белый цвет с прозрачностью 0.6 */
}

.questions {
  background-color: rgba(0, 0, 0, 0.7); /* Черный цвет с прозрачностью 0.7 */
}

.quest {
  background-color: rgba(
    192,
    192,
    192,
    0.3
  ); /* Серый цвет с прозрачностью 0.3 */
}

.q {
  background-color: rgba(
    64,
    64,
    64,
    0.8
  ); /* Темно-серый цвет с прозрачностью 0.8 */
}

.questtext {
  background-color: rgba(
    191,
    191,
    63,
    0.5
  ); /* Желтоватый цвет с прозрачностью 0.5 */
}

.questind {
  background-color: rgba(
    63,
    191,
    191,
    0.6
  ); /* Бирюзовый цвет с прозрачностью 0.6 */
}
.bigblock {
  //width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $dark-blue;
  padding: 10% 10%;

  .blockorder {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .worlduor {
    font-size: $Subtitle;
    font-weight: 600;
  }
  .blockfororder {
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 15px;
    border: solid 3px $dark-blue;
  }
  .ordertext {
    font-size: larger;
    font-weight: 550;
  }
  input[type="text"] {
    width: 92%;
    padding: 3% 0% 3% 5%;
    border-radius: 5px;
  }
  .blockinput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 550;
  }
  .blockbuttonorder {
    border: none;
    padding: 15px 0px;
    font-size: large;
    color: white;
    background-color: $blue;
    margin: 5px;
    cursor: pointer;
  }
  .blockbuttonorder:hover {
    border: solid 5px white;
    margin: 0px;
  }
  .blockminitextorder {
    font-size: small;
  }
  .blockquestions {
    display: flex;
    flex-direction: column;
  }
  .quests {
    font-size: $Subtitle;
    font-weight: 600;
  }
}
