@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

@keyframes framIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes framOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  /*.map {
    top: -100px;
    max-height: 100vh;
    width: 100vw;
  }
  .c-box {
    position: relative;
    left: 100px;
    //bottom: -87vh;
    width: fit-content;
    background-color: $dark-blue;
    display: flex;
    gap: 2em;
    flex-direction: column;
    padding: 3em;
    border-radius: 5% 5% 0px 0px;
    .separator {
      width: 100%;
      font-size: $regular;
      font-weight: 600;
    }
    .c-box-line {
      display: flex;
      align-items: center;
      gap: 2em;
      .box-text-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }*/
  /* .qna {
      height: 100vh;
      max-width: 100vw;
      background-color: rgba($dark-blue, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 100px;
      overflow: hidden;
    }
    .qna-left-top {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .qna-content {
      width: 100%;
      overflow: hidden;
    }
    .qna-form {
      width: 30vw;
      height: 50vh;
      background-color: rgba($blue, 0.5);
    }
  }*/
}
.main-body .scroll-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  padding: 40px 40px;
  background-color: rgba(247, 247, 247, 0.7333333333);
  color: #5a5c8d;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 74px;
  box-shadow: 0 0 40px rgba(24, 12, 12, 0.192);
}
.main-body .scroll-btn svg {
  transform: rotate(-90deg);
}
.main-body .scroll-btn.show {
  opacity: 1;
  pointer-events: auto;
}
.main-body .top {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main-body .top .t-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body .top .t-header .t-logo {
  display: flex;
  width: 85vw;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.main-body .top .t-header .t-logo .number {
  color: #252774;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
}
.main-body .top .t-header .t-logo .number:hover {
  color: #238af3;
}
.main-body .top .t-header .t-logo .ent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252774;
  padding: 15px 40px;
  transition: all 0.3s;
}
.main-body .top .t-header .t-logo .ent p {
  font-size: 16px;
  font-weight: 600;
}
.main-body .top .t-header .t-logo .ent:hover {
  background: #238af3;
}
.main-body .top .t-header .t-logo .t-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252774;
  padding: 15px 20px;
}
.main-body .top .t-header .t-logo .t-button p {
  font-size: 16px;
  font-weight: 600;
}
.main-body .top .t-header .pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  justify-content: center;
  align-items: center;
}
.main-body .top .t-header .pop-up .wind {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  gap: 25px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(12, 12, 12);
}
.main-body .top .t-header .pop-up .wind .t-but {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 60px;
}
.main-body .top .t-header .pop-up .wind .t-but p {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}
.main-body .top .t-header .pop-up .wind .poli {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-body .top .t-header .pop-up .wind .poli input {
  color: black;
  padding: 15px;
  border-radius: 3px;
  outline: 2px solid #d8d8d8;
  outline-offset: -2px;
}
.main-body .top .t-header .pop-up .wind .poli .error {
  display: none;
  color: rgb(168, 168, 168);
  font-size: 14px;
  font-weight: 45 0;
}
.main-body .top .t-header .pop-up .wind .ent-button {
  background: #252774;
  padding: 15px;
  border-radius: 3px;
  transition: all 0.3s;
  text-align: center;
}
.main-body .top .t-header .pop-up .wind .ent-button:hover {
  background: #238af3;
}
.main-body .top .t-header .pop-up .wind .reg-button {
  display: flex;
  justify-content: center;
}
.main-body .top .t-header .pop-up .wind .reg-button p {
  color: #252774;
  font-weight: 600;
  transition: all 0.3s;
}
.main-body .top .t-header .pop-up .wind .reg-button:active p {
  color: #238af3;
}
.main-body .top .t-header .pop-up .regist {
  display: none;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  gap: 25px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(12, 12, 12);
}
.main-body .top .t-header .pop-up .regist .t-but {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 120px;
}
.main-body .top .t-header .pop-up .regist .t-but p {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}
.main-body .top .t-header .pop-up .regist .poli {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-body .top .t-header .pop-up .regist .poli .input {
  color: black;
  padding: 15px;
  border-radius: 3px;
  outline: 2px solid #d8d8d8;
  outline-offset: -2px;
}
.main-body .top .t-header .pop-up .regist .poli .error {
  display: none;
  color: rgb(168, 168, 168);
  font-size: 14px;
  font-weight: 45 0;
}
.main-body .top .t-header .pop-up .regist .password-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  outline: 2px solid #d8d8d8;
  outline-offset: -2px;
}
.main-body .top .t-header .pop-up .regist .password-input .pass {
  color: black;
}
.main-body .top .t-header .pop-up .regist .password-input a {
  display: flex;
  align-items: center;
}
.main-body .top .t-header .pop-up .regist .reg-button {
  background: #252774;
  padding: 15px;
  border-radius: 3px;
  transition: all 0.3s;
  text-align: center;
}
.main-body .top .t-header .pop-up .regist .reg-button:hover {
  background: #238af3;
}
.main-body .top .t-header .pop-up .regist .ent-button {
  display: flex;
  justify-content: center;
}
.main-body .top .t-header .pop-up .regist .ent-button p {
  color: #252774;
  font-weight: 600;
  transition: all 0.3s;
}
.main-body .top .t-header .pop-up .regist .ent-button:active p {
  color: #238af3;
}
.main-body .top .t-header .pop-up.openPop {
  animation: framIn 0.4s ease-in-out;
}
.main-body .top .t-header .pop-up.closePop {
  animation: framOut 0.4s ease-in-out;
}
.main-body .top .t-header .navigator {
  display: flex;
  width: 60vw;
  padding: 30px 0;
  justify-content: space-between;
}
.main-body .top .t-header .navigator p {
  font-size: 16px;
  font-weight: 600;
  color: #252774;
  transition: all 0.3s;
}
.main-body .top .t-header .navigator p:hover {
  color: #238af3;
}
.main-body .top .t-body {
  background-color: rgba(255, 255, 255, 0.6862745098);
  background: url(/img/Fons.svg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main-body .top .t-body .t-dark {
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 60px 0;
  gap: 70px;
}
.main-body .top .t-body .t-dark .t-text {
  width: 940px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
}
.main-body .top .t-body .t-dark .t-text .te1 {
  font-size: 54px;
  font-weight: 600;
}
.main-body .top .t-body .t-dark .t-text .te2 {
  font-size: 24px;
  font-weight: 400;
}
.main-body .top .t-body .t-dark .buts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-body .top .t-body .t-dark .buts .but-1 {
  background: #238af3;
  padding: 20px 40px;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-1 p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-1:hover {
  background: #fff;
}
.main-body .top .t-body .t-dark .buts .but-1:hover p {
  color: #238af3;
}
.main-body .top .t-body .t-dark .buts .but-2 {
  padding: 20px 70px;
  outline: 3px solid #fff;
  outline-offset: -3px;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-2 p {
  color: #fff;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-2:hover {
  outline: 3px solid #238af3;
  outline-offset: -3px;
}
.main-body .top .t-body .t-dark .buts .but-2:hover p {
  color: #238af3;
}
@media only screen and (max-width: 600px) {
  .main-body .top .t-header .t-logo {
    width: 100%; /* Измените ширину для маленьких экранов */
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .main-body .top .t-header .navigator {
    width: 100%; /* Измените ширину для маленьких экранов */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.main-body .about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 0;
}
.main-body .about .a-body {
  width: 60vw;
  display: flex;
  justify-content: center;
}
.main-body .about .a-body .a-image img {
  width: 35vw;
}
.main-body .about .a-body .a-block {
  position: relative;
  top: 40px;
  left: -40px;
  z-index: 1;
  width: 400px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  gap: 25px;
  padding: 45px;
}
.main-body .about .a-body .a-block .aboutus {
  font-size: 36px;
  color: #303030;
}
.main-body .about .a-body .a-block .a-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #4e4e4e;
}
.main-body .about .a-body .a-block .a-button {
  width: 270px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #238af3;
}
.main-body .aboutus-2 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}
.main-body .aboutus-2 .about-2 {
  width: 940px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main-body .aboutus-2 .about-2 .text-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-body .aboutus-2 .about-2 .text-1 .t-1 {
  font-size: 44px;
  color: black;
}
.main-body .aboutus-2 .about-2 .text-1 .t-2 {
  font-size: 24px;
  color: #4e4e4e;
}
.main-body .aboutus-2 .about-2 .text-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-body .aboutus-2 .about-2 .text-2 .t-3 {
  font-size: 18px;
  color: black;
}
.main-body .aboutus-2 .about-2 .text-2 .t-4 {
  font-size: 18px;
  color: black;
}
.main-body .new {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  padding: 50px 0;
  gap: 50px;
}
.main-body .new p {
  color: #303030;
  font-weight: 500;
}
.main-body .new .new-top {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-body .new .new-top .left-new {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-body .new .new-top .left-new .min-new {
  color: #b4b4b4;
}
.main-body .new .new-top .left-new .max-new {
  font-size: 32px;
  font-weight: 700;
}
.main-body .new .new-top .right-new .min-new {
  color: #b4b4b4;
}
.main-body .new .new-bottom {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
.main-body .new .new-bottom .new-box {
  height: 340px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
  background: white;
  border-radius: 4px;
  border: solid 2px #e0e0e0;
}
.main-body .new .new-bottom .new-box .name-new {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-body .new .new-bottom .new-box .name-new img {
  height: 200px;
}
.main-body .new .new-bottom .new-box .name-new .text-new {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-body .new .new-bottom .new-box .name-new .text-new .up-text-new {
  font-weight: 750;
  color: #252774;
}
.main-body .new .new-bottom .new-box .name-new .text-new .down-text-new {
  color: #b4b4b4;
  font-weight: 400;
}
.main-body .new .new-bottom .new-box .date-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-body .new .new-bottom .new-box .date-new .min-new {
  font-weight: 700;
  color: #252774;
}
.main-body .new .new-bottom .new-box .date-new .left-date-tx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main-body .new .new-bottom .new-box .date-new .left-date-tx .text-date {
  color: #d4d4d4;
}
.main-body .new .new-bottom .new-box .date-new .left-date-tx .stril {
  color: #d4d4d4;
  font-size: 26px;
}
.main-body .contacts {
  width: 100%;
  height: 100vh;
}
.main-body .c-main {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.main-body .c-top {
  width: 100%;
  height: 25vh;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252774;
}
.main-body .q-bg {
  background-image: url(../img/Фон1.png);
  height: 100vh;
}
.main-body .q-bg .q-shadow {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.363);
}
.main-body .q-bg .q-shadow .q-top {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: self-end;
  font-size: 64px;
  font-weight: 600;
  color: white;
  background: linear-gradient(180deg, #17161f 0%, rgba(21, 30, 47, 0) 100%);
}
.main-body .q-bg .q-shadow .q-main {
  width: 75vw;
  height: 85%;
  display: flex;
  align-items: center;
  gap: 60px;
}
.main-body .q-bg .q-shadow .q-main .q-left {
  min-width: 437px;
  min-height: 437px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  font-family: Josefin Sans;
  border-radius: 500px;
  font-weight: 400;
  font-size: 205px;
  color: #252774;
}
.main-body .q-bg .q-shadow .q-main .q-left p {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  color: #252774;
}
.main-body .q-bg .q-shadow .q-main p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36px;
}
.main-body .slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main-body .slider .slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  transition: all 0.5s;
}
.main-body .slider .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0%;
  margin: 0%;
}
.main-body .slider .btn {
  background-color: red;
  position: absolute;
  width: 30%;
  height: 100vh;
  border: none;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}
.main-body .slider .btn:active {
  transform: scale(1.1);
}
.main-body .slider .btn-prev {
  left: 1px;
}
.main-body .slider .btn-next {
  right: 1px;
}
.main-body .slider #slide3 {
  width: 100vw;
  height: 100vh;
}
.main-body .catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body .catalogue .cat-classes {
  display: flex;
  flex-direction: row;
}
.main-body .catalogue .cat-line {
  display: flex;
  flex-direction: row;
}
.main-body .catalogue .cat,
.main-body .catalogue .cat-class,
.main-body .catalogue .cat-top {
  color: black;
}
.main-body .contacts * {
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.main-body .contacts-title {
  color: #252774;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 100px;
}
.main-body .contacts-body {
  margin-top: -80vh;
  max-width: 30vw;
  position: relative;
  bottom: -800px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 3em;
  padding-bottom: 300px;
  border-radius: 5% 5% 0px 0px;
  background-color: #252774;
}
.main-body .separator {
  width: 100%;
  font-size: 1.2em;
  font-weight: 600;
}
.main-body .contacts-info-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 1.2em;
}
.main-body .contacts-info-block .cib-icon {
  max-height: 2.2em;
  max-width: 2.2em;
}
.main-body .contacts-info-block .cib-text {
  display: flex;
  gap: 10px;
}
.main-body footer {
  width: 100%;
  height: 40vh;
  background-color: #252774;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.main-body footer .f-main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-body footer .f-main .f {
  color: white !important;
}
.main-body footer .f-main .f-list,
.main-body footer .f-main .f-list-mid {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.main-body .blockquestions {
  background-color: rgba(128, 128, 128, 0.4); /* Серый цвет с прозрачностью 0.4 */
}
.main-body .quests {
  background-color: rgba(255, 255, 255, 0.6); /* Белый цвет с прозрачностью 0.6 */
}
.main-body .questions {
  background-color: rgba(0, 0, 0, 0.7); /* Черный цвет с прозрачностью 0.7 */
}
.main-body .quest {
  background-color: rgba(192, 192, 192, 0.3); /* Серый цвет с прозрачностью 0.3 */
}
.main-body .q {
  background-color: rgba(156, 87, 87, 0.8); /* Темно-серый цвет с прозрачностью 0.8 */
}
.main-body .bigblock * {
  color: #252774;
}
.main-body .bigblock {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #252774;
  padding: 10% 10%;
}
.main-body .bigblock .blockorder {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
.main-body .bigblock .worlduor {
  font-size: 2em;
  font-weight: 600;
}
.main-body .bigblock .blockfororder {
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 15px;
  border: solid 3px #252774;
}
.main-body .bigblock .ordertext {
  font-size: larger;
  font-weight: 550;
}
.main-body .bigblock input[type=text] {
  width: 92%;
  padding: 3% 0% 3% 5%;
  border-radius: 5px;
  border: solid 2px #252774;
}
.main-body .bigblock .blockinput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 550;
}
.main-body .bigblock .blockbuttonorder {
  border: none;
  padding: 15px 0px;
  font-size: large;
  color: white;
  background-color: #238af3;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.main-body .bigblock .blockbuttonorder:hover {
  background-color: white;
  color: #238af3;
  border: inset 2px #238af3;
  margin: 0px;
}
.main-body .bigblock .blockminitextorder {
  font-size: small;
}
.main-body .bigblock .blockquestions {
  display: flex;
  flex-direction: column;
}
.main-body .bigblock .quests {
  font-size: 2em;
  font-weight: 600;
}
.main-body .bigblock .q {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.main-body .bigblock .questtext {
  width: 100%;
}
.main-body .bigblock .questtext,
.main-body .bigblock .questind {
  font-size: 1.2em;
}
.main-body .likebox {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 0;
  height: 0;
}
.main-body .likebox-grande {
  padding: 5px;
  z-index: 2;
}
.main-body .likebox-grande img {
  width: 30px;
}
.main-body .likebox-grande:hover {
  cursor: pointer;
}
.main-body .quest-hidden {
  display: none;
}
.main-body #checkbox:checked ~ .quest-hidden {
  display: block;
}
.main-body .Catalcont {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.main-body .Category {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.main-body .Cat1 {
  background-color: rgb(0, 199, 106);
  padding: 20px;
}
.main-body .ViewProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  padding: 20px;
}
.main-body .BlockProdust {
  background-color: cornflowerblue;
  height: 250px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body .Namberprodust {
  height: 12%;
  width: -moz-max-content;
  width: max-content;
  background-color: rgb(21, 211, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.main-body .Imageproduct {
  width: 100%;
  height: 50%;
  background-color: black;
}
.main-body .Proddescr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-body .Decrproduct {
  display: flex;
  justify-content: center;
}
.main-body .catalogue * {
  color: #252774;
}/*# sourceMappingURL=style.css.map */