@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

@keyframes framIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes framOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
}
.main-body .scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  padding: 40px 40px;
  background-color: rgba(247, 247, 247, 0.7333333333);
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 74px;
  box-shadow: 0 0 40px rgba(24, 12, 12, 0.192);
}
.main-body .scroll-btn svg {
  transform: rotate(-90deg);
}
.main-body .scroll-btn.show {
  opacity: 1;
  pointer-events: auto;
}
.main-body .top {
  display: flex;
  width: 100vw;
  flex-direction: column;
}
.main-body .top .t-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body .top .t-header .t-logo {
  display: flex;
  width: 85vw;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.main-body .top .t-header .t-logo .number {
  color: #252774;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
}
.main-body .top .t-header .t-logo .number:hover {
  color: #238af3;
}
.main-body .top .t-header .t-logo .ent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252774;
  padding: 15px 60px;
  transition: all 0.3s;
}
.main-body .top .t-header .t-logo .ent p {
  font-size: 16px;
  font-weight: 600;
}
.main-body .top .t-header .t-logo .ent:hover {
  background: #238af3;
}
.main-body .top .t-header .t-logo .t-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252774;
  padding: 15px 20px;
}
.main-body .top .t-header .t-logo .t-button p {
  font-size: 16px;
  font-weight: 600;
}
.main-body .top .t-header .pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  justify-content: center;
  align-items: center;
}
.main-body .top .t-header .pop-up .wind {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 45px;
  gap: 65px;
  box-shadow: 0 0 20px rgb(12, 12, 12);
}
.main-body .top .t-header .pop-up .wind .t-but {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-body .top .t-header .pop-up .wind .t-but p {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}
.main-body .top .t-header .pop-up .wind .bottomform {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-body .top .t-header .pop-up .wind .bottomform .poli {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-body .top .t-header .pop-up .wind .bottomform .poli input {
  color: black;
  padding: 15px;
  outline: 2px solid #d8d8d8;
  outline-offset: -2px;
}
.main-body .top .t-header .pop-up .wind .bottomform .poli .error {
  display: none;
  color: rgb(168, 168, 168);
  font-size: 14px;
  font-weight: 45 0;
}
.main-body .top .t-header .pop-up .wind .bottomform .forgot {
  font-size: 14px;
  color: #A8A8A8;
}
.main-body .top .t-header .pop-up .wind .bottomform .forgot #forgform {
  color: #252774;
  font-weight: 500;
}
.main-body .top .t-header .pop-up .wind .bottomform .ent-button {
  background: #252774;
  padding: 15px;
  transition: all 0.3s;
  text-align: center;
}
.main-body .top .t-header .pop-up .wind .bottomform .ent-button:hover {
  background: #238af3;
}
.main-body .top .t-header .pop-up .wind .bottomform .reg-button {
  display: flex;
  justify-content: center;
}
.main-body .top .t-header .pop-up .wind .bottomform .reg-button p {
  color: #252774;
  font-weight: 600;
  transition: all 0.3s;
}
.main-body .top .t-header .pop-up .wind .bottomform .reg-button:active p {
  color: #238af3;
}
.main-body .top .t-header .pop-up .regist {
  display: none;
  flex-direction: column;
  background: #fff;
  padding: 45px;
  gap: 65px;
  box-shadow: 0 0 20px rgb(12, 12, 12);
}
.main-body .top .t-header .pop-up .regist .t-but {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
.main-body .top .t-header .pop-up .regist .t-but p {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}
.main-body .top .t-header .pop-up .regist .collom {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-body .top .t-header .pop-up .regist .collom .poli {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-body .top .t-header .pop-up .regist .collom .poli .input {
  color: black;
  padding: 15px;
  outline: 2px solid #d8d8d8;
  outline-offset: -2px;
}
.main-body .top .t-header .pop-up .regist .collom .poli .error {
  display: none;
  color: rgb(168, 168, 168);
  font-size: 14px;
  font-weight: 45 0;
}
.main-body .top .t-header .pop-up .regist .collom .password-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  outline: 2px solid #d8d8d8;
  outline-offset: -2px;
}
.main-body .top .t-header .pop-up .regist .collom .password-input .pass {
  color: black;
}
.main-body .top .t-header .pop-up .regist .collom .password-input a {
  display: flex;
  align-items: center;
}
.main-body .top .t-header .pop-up .regist .bottomform {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-body .top .t-header .pop-up .regist .bottomform .reg-button {
  background: #252774;
  padding: 15px;
  transition: all 0.3s;
  text-align: center;
}
.main-body .top .t-header .pop-up .regist .bottomform .reg-button:hover {
  background: #238af3;
}
.main-body .top .t-header .pop-up .regist .bottomform .ent-button {
  display: flex;
  justify-content: center;
}
.main-body .top .t-header .pop-up .regist .bottomform .ent-button p {
  color: #252774;
  font-weight: 600;
  transition: all 0.3s;
}
.main-body .top .t-header .pop-up .regist .bottomform .ent-button:active p {
  color: #238af3;
}
.main-body .top .t-header .pop-up.openPop {
  animation: framIn 0.4s ease-in-out;
}
.main-body .top .t-header .pop-up.closePop {
  animation: framOut 0.4s ease-in-out;
}
.main-body .top .t-header .navigator {
  display: flex;
  width: 75vw;
  padding: 30px 0;
  justify-content: space-between;
}
.main-body .top .t-header .navigator p {
  font-size: 16px;
  font-weight: 600;
  color: #252774;
  transition: all 0.3s;
}
.main-body .top .t-header .navigator p:hover {
  color: #238af3;
}
.main-body .top .t-body {
  background-color: rgba(255, 255, 255, 0.6862745098);
  background: url(../img/Bolder.svg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main-body .top .t-body .t-dark {
  height: 100vh;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.main-body .top .t-body .t-dark .t-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  text-align: center;
}
.main-body .top .t-body .t-dark .t-text .te1 {
  width: 1300px;
  font-size: 96px;
  font-weight: 600;
  font-family: Montserrat;
}
.main-body .top .t-body .t-dark .t-text .te2 {
  width: 930px;
  font-size: 32px;
  font-weight: 400;
  font-family: Montserrat;
}
.main-body .top .t-body .t-dark .buts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-body .top .t-body .t-dark .buts .but-1 {
  background: #238af3;
  padding: 20px 90px;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-1 p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-1:hover {
  background: #fff;
}
.main-body .top .t-body .t-dark .buts .but-1:hover p {
  color: #238af3;
}
.main-body .top .t-body .t-dark .buts .but-2 {
  padding: 20px 126px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-2 p {
  font-size: 22px;
  color: #fff;
  transition: all 0.4s;
}
.main-body .top .t-body .t-dark .buts .but-2:hover {
  outline: 2px solid #238af3;
  outline-offset: -2px;
}
.main-body .top .t-body .t-dark .buts .but-2:hover p {
  color: #238af3;
}
@media only screen and (max-width: 600px) {
  .main-body .top .t-header .t-logo {
    width: 100%;
    /* Измените ширину для маленьких экранов */
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .main-body .top .t-header .navigator {
    width: 100%;
    /* Измените ширину для маленьких экранов */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.main-body .about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body .about .a-body {
  display: flex;
  justify-content: center;
}
.main-body .about .a-body .a-image img {
  width: 40vw;
}
.main-body .about .a-body .a-block {
  width: 25%;
  position: relative;
  top: 40px;
  left: -40px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background: #f5f5f5;
  gap: 25px;
  padding: 45px;
  box-shadow: -5px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
.main-body .about .a-body .a-block .aboutus {
  font-size: 36px;
  color: #303030;
  font-family: Montserrat;
}
.main-body .about .a-body .a-block .a-text {
  width: 82%;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  color: #4e4e4e;
}
.main-body .about .a-body .a-block .a-button {
  padding: 15px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #238af3;
}
.main-body .about .a-body .a-block .a-button P {
  font-size: 24px;
}
.main-body .aboutus-2 {
  width: 100%;
  display: flex;
  padding: 60px 0 260px 0;
  justify-content: center;
  align-items: flex-start;
}
.main-body .aboutus-2 .about-2 {
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main-body .aboutus-2 .about-2 .text-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-body .aboutus-2 .about-2 .text-1 .t-1 {
  width: 70%;
  font-family: Montserrat;
  font-size: 36px;
  color: black;
}
.main-body .aboutus-2 .about-2 .text-1 .t-2 {
  font-size: 24px;
  color: #A8A8A8;
}
.main-body .aboutus-2 .about-2 .text-1 .t-3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.main-body .aboutus-2 .about-2 .text-2 {
  display: flex;
  gap: 20px;
}
.main-body .aboutus-2 .about-2 .text-2 .but-1 {
  background: #238af3;
  padding: 20px 90px;
  transition: all 0.4s;
}
.main-body .aboutus-2 .about-2 .text-2 .but-1 p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s;
}
.main-body .aboutus-2 .about-2 .text-2 .but-2 {
  padding: 20px 90px;
  outline: 2px solid #238af3;
  outline-offset: -2px;
  transition: all 0.4s;
}
.main-body .aboutus-2 .about-2 .text-2 .but-2 p {
  font-size: 22px;
  color: #238af3;
  transition: all 0.4s;
}
.main-body .new {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  padding: 50px 0px 120px 0;
  gap: 50px;
}
.main-body .new p {
  color: #303030;
  font-weight: 500;
}
.main-body .new .new-top {
  width: 1345px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-body .new .new-top .left-new {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-body .new .new-top .left-new .min-new {
  font-size: 20px;
  color: #858585;
}
.main-body .new .new-top .left-new .max-new {
  font-size: 36px;
  font-weight: 500;
}
.main-body .new .new-top .right-new {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-body .new .new-top .right-new .min-new {
  font-size: 20px;
  font-weight: 450;
  color: #858585;
  transition: all 0.4s;
}
.main-body .new .new-top .right-new #stril-icon {
  stroke: #858585;
  transition: all 0.4s;
}
.main-body .new .new-top #morenews:hover p,
.main-body .new .new-top #morenews:hover svg {
  color: #238af3;
  stroke: #238af3;
}
.main-body .new .new-bottom {
  width: 1345px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.main-body .new .new-bottom .new-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: white;
  gap: 25px;
  padding: 40px;
  border-radius: 4px;
  border: solid 2px #e0e0e0;
  box-shadow: -5px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.main-body .new .new-bottom .new-box .name-new {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-body .new .new-bottom .new-box .name-new .n-img {
  background-color: rgba(204, 204, 204, 0.7254901961);
  width: 100%;
  height: 300px;
}
.main-body .new .new-bottom .new-box .name-new #n-img_one {
  background: url(../img/ImgNEW-1.svg);
  background-position: center;
  background-size: cover;
}
.main-body .new .new-bottom .new-box .name-new #n-img_two {
  background: url(../img/ImgNEW-2.svg);
  background-position: center;
  background-size: cover;
}
.main-body .new .new-bottom .new-box .name-new #n-img_tree {
  background: url(../img/ImgNEW-3.svg);
  background-position: center;
  background-size: cover;
}
.main-body .new .new-bottom .new-box .name-new .text-new {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-body .new .new-bottom .new-box .name-new .text-new .up-text-new {
  font-weight: 750;
  color: #303030;
}
.main-body .new .new-bottom .new-box .name-new .text-new .down-text-new {
  color: #858585;
  font-weight: 400;
}
.main-body .new .new-bottom .new-box .date-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-body .new .new-bottom .new-box .date-new .min-new {
  font-weight: 700;
  color: #303030;
}
.main-body .new .new-bottom .new-box .date-new .left-date-tx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main-body .new .new-bottom .new-box .date-new .left-date-tx .text-date {
  color: #858585;
  transition: all 0.4s;
}
.main-body .new .new-bottom .new-box .date-new .left-date-tx #detalarrow {
  stroke: #858585;
  transition: all 0.4s;
}
.main-body .new .new-bottom .new-box .date-new #arrowblock:hover p,
.main-body .new .new-bottom .new-box .date-new #arrowblock:hover svg {
  color: #238af3;
  stroke: #238af3;
}
.main-body .catalogue {
  width: 100vw;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.main-body .catalogue .cat-block {
  gap: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-body .catalogue .cat-block .cat-title-block {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.main-body .catalogue .cat-block .cat-title-block .cat-title {
  display: block;
  width: 100%;
  color: #303030;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat .cat {
  font-size: 1.2em;
  font-weight: 500;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat .cat #cat-but1 {
  font-size: 20px;
  padding: 20px 80px;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat .cat #cat-but2 {
  font-size: 20px;
  padding: 20px 60px;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat .cat .cat-label {
  color: #303030;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
  background: #EBEBEB;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat .cat input[type=radio] {
  display: none;
}
.main-body .catalogue .cat-block .cat-title-block .cat-cat .cat input[type=radio]:checked + .cat-label {
  background: #0080ff;
  color: white;
}
.main-body .catalogue .cat-block .cat-content-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item {
  width: -moz-min-content;
  width: min-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #EBEBEB;
  padding: 20px 0px 20px 0px;
  transition: all 0.4s;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-title {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item #star {
  fill: #EBEBEB;
  transition: all 0.4s;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item #flig {
  fill: #EBEBEB;
  transition: all 0.4s;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-body-box .item-img {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-body-box .ci-name {
  display: flex;
  flex-direction: column;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-body-box .ci-name #ci-text-dark {
  font-size: 20px;
  font-weight: 600;
  color: #252774;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-body-box .ci-name #ci-text-light {
  font-size: 16px;
  color: #252774;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item .ci-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line #star:hover {
  fill: #238af3;
}
.main-body .catalogue .cat-block .cat-content-block .ci-line .cat-item:hover {
  border: 4px solid #238af3;
}
.main-body .q-scroller {
  position: relative;
  width: 100%;
  height: 300vh;
  background: url(../img/fon_quality.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main-body .q-slide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.4s, transform 0.4s;
}
.main-body #q-slider-two {
  display: none;
}
.main-body #q-slider-three {
  display: none;
}
.main-body .q-slide.fixed {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateY(0);
}
.main-body .q-slide.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.4s;
}
.main-body .q-up, .main-body .q-down {
  width: 90vw;
}
.main-body .q-up {
  display: flex;
  height: 13%;
  align-items: flex-end;
  justify-content: center;
}
.main-body .q-up p {
  font-size: 36px;
  font-weight: 550;
  font-family: Montserrat;
}
.main-body .q-down {
  height: 87%;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body .q-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
  border-radius: 12px;
  border: solid 6px #e0e0e0;
}
.main-body .q-max {
  height: 250px;
  font-size: 250px;
}
.main-body .q-min {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: Montserrat;
}
.main-body .q-text-info {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-body .q-max-text {
  font-size: 36px;
  font-weight: 500;
  font-family: Montserrat;
}
.main-body .q-text-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-body .q-min-text {
  font-size: 24px;
  font-weight: 200;
  font-family: Montserrat;
}
.main-body .bigblock {
  display: flex;
  justify-content: center;
  padding: 120px 0;
  background: #F5F5F5;
}
.main-body .bigblock .block-quest-tab {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.main-body .bigblock .blockorder {
  width: 30%;
  display: flex;
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  align-items: center;
  background-color: #252774;
  gap: 40px;
  padding: 90px 60px;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.377);
}
.main-body .bigblock .blockorder .ordertext {
  width: 100%;
  display: flex;
  font-size: 32px;
  font-weight: 250;
}
.main-body .bigblock .blockorder .blockstrok {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-body .bigblock .blockorder .blockstrok .blockinput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-body .bigblock .blockorder .blockstrok .blockinput .blockinputtext {
  font-size: 16px;
  font-weight: 300;
}
.main-body .bigblock .blockorder .blockstrok .blockinput input {
  padding: 8px;
  color: black;
}
.main-body .bigblock .blockorder .blockstrok .blockcheck {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-body .bigblock .blockorder .blockstrok .blockcheck #checkbox {
  display: flex;
}
.main-body .bigblock .blockorder .blockstrok .blockcheck P {
  font-size: 12px;
}
.main-body .bigblock .blockorder .blockaplicate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #238af3;
  padding: 20px 0;
  color: white;
  transition: all 0.4s;
  font-size: 18px;
  font-weight: 500;
}
.main-body .bigblock .blockorder .blockaplicate:hover {
  background: white;
  color: #238af3;
}
.main-body .blockquestions {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main-body .quests {
  font-size: 32px;
  color: #303030;
  font-weight: 500;
}
.main-body .tabs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-body .expandable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: -5px 4px 20px 0px rgba(15, 15, 15, 0.151);
  padding: 22px;
  color: black;
  font-size: 18px;
  position: relative;
  z-index: 1;
}
.main-body .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  box-shadow: -5px 4px 20px 0px rgba(15, 15, 15, 0.151);
  background-color: #ffffff;
  border-top: none;
  padding: 0 20px;
  display: none;
}
.main-body .content p {
  color: black;
  font-weight: 300;
}
.main-body .content.show {
  display: block;
  max-height: 200px;
  padding: 40px 20px;
}

.videocont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F5F5F5;
  gap: 40px;
  padding-bottom: 160px;
}
.videocont P {
  font-size: 36px;
  font-weight: 300;
  color: black;
}
.videocont .video-block {
  width: 1345px;
  height: 762px;
}

.contacts-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.contacts-foot p {
  font-size: 36px;
  font-weight: 500;
}
.contacts-foot .contact-block {
  display: flex;
  gap: 40px;
}
.contacts-foot .contact-block .contact-slid {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: solid 3px #e0e0e0;
  gap: 20px;
}
.contacts-foot .contact-block .contact-slid .contact-block-name {
  font-size: 20px;
  font-weight: 500;
}
.contacts-foot .contact-block .contact-slid .contact-strock {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts-foot .contact-block .contact-slid .contact-strock .con-icon {
  width: 30px;
  height: 30px;
}
.contacts-foot .contact-block .contact-slid .contact-strock .con-text {
  font-size: 16px;
  font-weight: 350;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: #252774;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
footer .f-main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .f-main .f {
  color: white !important;
}
footer .f-main .f-list,
footer .f-main .f-list-mid {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
footer .f-main .item {
  color: #d0d0d0;
}

.navigator-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252774;
  width: 100%;
}
.navigator-block .blue-navigator {
  display: flex;
  width: 75vw;
  padding: 30px 0;
  justify-content: space-between;
}
.navigator-block .blue-navigator p {
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
}
.navigator-block .blue-navigator p:hover {
  color: #238af3;
}

.partner-info {
  width: 75vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0 200px;
}
.partner-info p {
  font-size: 36px;
  color: black;
}
.partner-info .partner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px #EBEBEB;
  border-top: solid 3px #EBEBEB;
  padding: 80px 0;
}
.partner-info .partner-block .part-block {
  width: 280px;
  height: 150px;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.322);
  border-radius: 5px;
  background: url(../img/partner.svg);
  background-position: center;
  background-size: cover;
}
.partner-info .partner-block #two-stril-part {
  transform: rotate(180deg);
}

.about-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.about-content .about-info-block {
  width: 75vw;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 30px;
}
.about-content .about-info-block .about-text-navig {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-content .about-info-block .about-text-navig #text-nav {
  color: #858585;
}
.about-content .about-info-block .about-text-navig #text-zag {
  color: black;
  font-weight: 650;
  font-size: 32px;
}
.about-content .about-info-block .about-block {
  display: flex;
  gap: 40px;
}
.about-content .about-info-block .about-block .about-block-left {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about-content .about-info-block .about-block .about-block-left .about-block-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-content .about-info-block .about-block .about-block-left .about-block-top .about-block-img {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6862745098);
  background: url(../img/Bolder.svg);
  background-position: right center;
  background-size: cover;
  padding: 80px;
}
.about-content .about-info-block .about-block .about-block-left .about-block-top .about-block-img .ab-text-big {
  font-size: 96px;
  font-weight: 250;
  color: white;
}
.about-content .about-info-block .about-block .about-block-left .about-block-top .about-block-img .ab-text-min {
  font-size: 32px;
  font-weight: 400;
  color: white;
}
.about-content .about-info-block .about-block .about-block-left .about-block-top p {
  color: black;
}
.about-content .about-info-block .about-block .about-block-left .about-block-bottom {
  width: 17.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-content .about-info-block .about-block .about-block-left .about-block-bottom #adout-navi-block {
  transition: all 0.3s;
}
.about-content .about-info-block .about-block .about-block-left .about-block-bottom p {
  color: black;
  transition: all 0.3s;
}
.about-content .about-info-block .about-block .about-block-left .about-block-bottom:hover #adout-navi-block {
  stroke: #238af3;
  color: #238af3;
}
.about-content .about-info-block .about-block .about-block-right {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 3px #EBEBEB;
  padding-right: 30px;
  gap: 25px;
}
.about-content .about-info-block .about-block .about-block-right .about-slid-block {
  padding: 25px;
  background: #EBEBEB;
  color: black;
  transition: all 0.3s;
}
.about-content .about-info-block .about-block .about-block-right .about-slid-block:hover {
  color: white;
  background: #238af3;
}

.block-back {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-back #stril-back {
  transition: all 0.3s;
}
.block-back p {
  color: black;
  transition: all 0.3s;
}

.block-back:hover #stril-back {
  stroke: #238af3;
  color: #238af3;
}

.product-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.product-content .product-card-block {
  width: 75vw;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 30px;
}
.product-content .product-card-block .product-text-navig {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-content .product-card-block .product-text-navig #text-nav {
  color: #858585;
}
.product-content .product-card-block .product-text-navig #text-zag {
  color: black;
  font-weight: 500;
  font-size: 32px;
}
.product-content .product-card-block .product-card {
  width: 75vw;
  display: flex;
  gap: 40px;
}
.product-content .product-card-block .product-card .product-card-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.product-content .product-card-block .product-card .product-card-left .product-block-star {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.product-content .product-card-block .product-card .product-card-left .product-block-star #star {
  fill: #EBEBEB;
  transition: all 0.4s;
}
.product-content .product-card-block .product-card .product-card-left .product-block-star #star:hover {
  fill: #238af3;
}
.product-content .product-card-block .product-card .product-card-left .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-content .product-card-block .product-card .product-card-left .product-img #img-product {
  width: 90%;
  height: 90%;
}
.product-content .product-card-block .product-card .product-card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-content .product-card-block .product-card .product-card-right .product-table {
  display: flex;
  flex-direction: column;
}
.product-content .product-card-block .product-card .product-card-right .product-table .product-line {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.product-content .product-card-block .product-card .product-card-right .product-table .product-line .left-line,
.product-content .product-card-block .product-card .product-card-right .product-table .product-line .right-line {
  padding: 0 10px;
  width: 50%;
  font-weight: 350;
}
.product-content .product-card-block .product-card .product-card-right .product-table #db-line {
  background: #252774;
}
.product-content .product-card-block .product-card .product-card-right .product-table #lg-line .left-line,
.product-content .product-card-block .product-card .product-card-right .product-table #lg-line .right-line {
  color: black;
}
.product-content .product-card-block .product-card .product-card-right .product-table #dg-line {
  background: #EBEBEB;
}
.product-content .product-card-block .product-card .product-card-right .product-table #dg-line .left-line,
.product-content .product-card-block .product-card .product-card-right .product-table #dg-line .right-line {
  color: black;
}
.product-content .product-card-block .product-card .product-card-right .product-buttom {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.product-content .product-card-block .product-card .product-card-right .product-buttom #prod-but {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 350;
}
.product-content .product-card-block .product-card .product-card-right .product-buttom .blue-but {
  background: #238af3;
}
.product-content .product-card-block .product-card .product-card-right .product-buttom .gray-but {
  background: #EBEBEB;
  color: black;
}
.product-content .similar-product {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.product-content .similar-product .similar-text {
  font-size: 36px;
  font-weight: 500;
  color: black;
}
.product-content .similar-product .cat-cat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.product-content .similar-product .cat-cat .cat {
  font-size: 1.2em;
  font-weight: 500;
}
.product-content .similar-product .cat-cat .cat #cat-but1 {
  font-size: 20px;
  padding: 20px 80px;
}
.product-content .similar-product .cat-cat .cat #cat-but2 {
  font-size: 20px;
  padding: 20px 60px;
}
.product-content .similar-product .cat-cat .cat .cat-label {
  color: #303030;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
  background: #EBEBEB;
}
.product-content .similar-product .cat-cat .cat input[type=radio] {
  display: none;
}
.product-content .similar-product .cat-cat .cat input[type=radio]:checked + .cat-label {
  background: #0080ff;
  color: white;
}
.product-content .similar-product .ci-line {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.product-content .similar-product .ci-line #two-stril-part {
  transform: rotate(180deg);
}
.product-content .similar-product .ci-line .cat-item {
  width: -moz-min-content;
  width: min-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #EBEBEB;
  padding: 20px 0px 20px 0px;
  transition: all 0.4s;
}
.product-content .similar-product .ci-line .cat-item .ci-title {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}
.product-content .similar-product .ci-line .cat-item #star {
  fill: #EBEBEB;
  transition: all 0.4s;
}
.product-content .similar-product .ci-line .cat-item #flig {
  fill: #EBEBEB;
  transition: all 0.4s;
}
.product-content .similar-product .ci-line .cat-item .ci-body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.product-content .similar-product .ci-line .cat-item .ci-body-box .item-img {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.product-content .similar-product .ci-line .cat-item .ci-body-box .ci-name {
  display: flex;
  flex-direction: column;
}
.product-content .similar-product .ci-line .cat-item .ci-body-box .ci-name #ci-text-dark {
  font-size: 20px;
  font-weight: 600;
  color: #252774;
}
.product-content .similar-product .ci-line .cat-item .ci-body-box .ci-name #ci-text-light {
  font-size: 16px;
  color: #252774;
}
.product-content .similar-product .ci-line .cat-item .ci-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.product-content .similar-product .ci-line #star:hover {
  fill: #238af3;
}
.product-content .similar-product .ci-line .cat-item:hover {
  border: 4px solid #238af3;
}

.quality {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quality .quality-info-block {
  width: 75vw;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;
}
.quality .quality-info-block .quality-navig {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.quality .quality-info-block .quality-navig #text-nav {
  color: #858585;
}
.quality .quality-info-block .quality-navig #text-zag {
  color: black;
  font-weight: 500;
  font-size: 32px;
}
.quality .quality-info-block .quality-block {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.quality .quality-info-block .quality-block .q-down {
  gap: 60px;
  display: flex;
  justify-content: center;
}
.quality .quality-info-block .quality-block .q-down .q-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  border-radius: 12px;
  background: #e0e0e0;
}
.quality .quality-info-block .quality-block .q-down .q-block .q-max {
  height: 270px;
  font-size: 250px;
  color: #252774;
}
.quality .quality-info-block .quality-block .q-down .q-block .q-min {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-family: Montserrat;
  color: #252774;
}
.quality .quality-info-block .quality-block .q-down .q-text-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quality .quality-info-block .quality-block .q-down .q-text-info .q-max-text {
  font-size: 36px;
  font-weight: 600;
  font-family: Montserrat;
  color: #252774;
}
.quality .quality-info-block .quality-block .q-down .q-text-info .q-text-bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quality .quality-info-block .quality-block .q-down .q-text-info .q-text-bottom .q-min-text {
  font-size: 24px;
  font-weight: 400;
  font-family: Montserrat;
  color: black;
}/*# sourceMappingURL=style.css.map */