* {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

// Переменные цветов
$blue: #238af3;
$dark-blue: #252774;
body {
  .home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // Главное
    .home {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      background: linear-gradient(
        180deg,
        rgba(35, 138, 243, 0) 11%,
        #238af3 100%
      );
      padding: 20px;
      gap: 30px;
      .header {
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo {
          width: 126.418px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .sections {
          display: flex;
          justify-content: center;
          gap: 44px;
          padding: 10px;
          p {
            font-size: 16px;
            font-weight: 600;
            color: $dark-blue;
            transition: all ease 0.3s;
          }
          p:hover {
            color: $blue;
          }
        }
        .knopsw {
          width: 256px;
          height: 79px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 71px;
          background: $dark-blue;
          box-shadow: 0px 2.311px 20.491px 0px rgba(26, 27, 61, 0.24);
        }
      }
      .bod {
        width: 80vw;
        display: flex;
        flex-direction: column;
        .verh {
          display: flex;
          align-items: center;
          p {
            font-size: 85px;
            font-weight: 700;
            color: $dark-blue;
          }
          .picture {
            display: flex;
            position: relative;
            top: 0;
            left: 0;
            .graw {
              position: absolute;
              top: 40px;
              left: 100px;
              filter: drop-shadow(-14px 17px 4px rgba(0, 0, 0, 0.062));
              transition: all ease 1s; //Анимация с плавным завершением
            }
            .graw:hover {
              filter: drop-shadow(-14px 17px 4px rgba(0, 0, 0, 0.13));
            }
          }
        }
        .niz {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 100px;
          .kach {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 27px 45px;
            border-radius: 40px;
            p {
              color: $blue;
              font-size: 16px;
              font-weight: 600;
            }
          }
          p {
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            font-family: Montserrat;
          }
        }
      }
    }
    // Новости
    .infotable {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .newtext {
        height: 15%;
        font-size: 64px;
        font-weight: 600;
        color: $dark-blue;
      }
      .new {
        display: flex;
        width: 80vw;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
        .headernew {
          display: flex;
          align-items: center;
          gap: 30px;
          P {
            font-size: 24px;
            font-weight: 600;
            color: $dark-blue;
          }
          .detal {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
            font-family: Montserrat;
            font-weight: 600;
            color: $blue;
          }
        }
        .bodynew {
          display: flex;
          justify-content: space-between;
          .newtape {
            width: 470px;
            display: flex;
            flex-direction: column;
            border: 8px solid #252774;
            border-radius: 25px;
            overflow: hidden; // Скрывает контенд за пределами контейнера
            .imgnew-1 {
              width: 470px;
              height: 348px;
              background: url(/img/ImgNEW-1.svg);
            }
            .imgnew-2 {
              width: 470px;
              height: 348px;
              background: url(/img/ImgNEW-2.svg);
            }
            .imgnew-3 {
              width: 470px;
              height: 348px;
              background: url(/img/ImgNEW-3.svg);
            }
            .textnew {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              padding: 35px 50px;
              gap: 20px;
              p {
                color: $dark-blue;
                font-size: 24px;
                font-weight: 500;
              }
              .date {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .details {
                  display: flex;
                  background: $dark-blue;
                  padding: 15px 40px;
                  border-radius: 500px;
                  font-family: Montserrat;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
    // Каталог
    .katalog {
      display: flex;
      min-height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark-blue;
        font-size: 64px;
        font-weight: 600;
      }
      .rul-katalog {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0px;
        gap: 90px;
        .goods {
          width: 364px;
          height: 364px;
          opacity: 0.4;
        }
        .goods-2 {
          transition: all ease 1s;
        }
        .goods-2:hover {
          background: url(/img/Towars1-1.svg);
        }
      }
    }
    // Преиущество
    .advantage {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      align-items: center;
      .textplus {
        display: flex;
        width: 60vw;
        p {
          color: $dark-blue;
          font-size: 36px;
          font-weight: 600;
          font-family: Montserrat;
        }
      }
      .sticks {
        display: flex;
        width: 70vw;
        justify-content: space-between;
        align-items: center;
        .plus {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .pluslins {
            display: flex;
            width: 620px;
            border-radius: 220px;
            padding: 9px;
            align-items: center;
            background: $blue;
            gap: 10px;
            .cirplu {
              width: 68px;
              height: 68px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #fff;
              border-radius: 300px;
              color: $blue;
              font-size: 33.711px;
              font-weight: 600;
              font-family: Montserrat;
            }
            p {
              color: #fff;
              font-size: 16px;
              font-weight: 600;
            }
          }
          .ret-1 {
            display: flex;
            padding: 0px 50px;
            .pluslins {
              display: flex;
              width: 620px;
              border-radius: 220px;
              padding: 9px;
              align-items: center;
              background: $blue;
              gap: 10px;
              .cirplu {
                width: 68px;
                height: 68px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-radius: 300px;
                color: $blue;
                font-size: 33.711px;
                font-weight: 600;
                font-family: Montserrat;
              }
              p {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
              }
            }
          }
          .ret-2 {
            display: flex;
            padding: 0px 100px;
            .pluslins {
              display: flex;
              width: 620px;
              border-radius: 220px;
              padding: 9px;
              align-items: center;
              background: $blue;
              gap: 10px;
              .cirplu {
                width: 68px;
                height: 68px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-radius: 300px;
                color: $blue;
                font-size: 33.711px;
                font-weight: 600;
                font-family: Montserrat;
              }
              p {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    // О нас
    .aboutus {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      align-items: center;
      background: url(/img/Fons.svg);
      .textus {
        display: flex;
        width: 100%;
        height: 15%;
        justify-content: center;
        align-items: flex-end;
        background: linear-gradient(
          180deg,
          #111013 0%,
          rgba(21, 30, 47, 0) 100%
        );
        font-size: 64px;
        font-family: Montserrat;
        font-weight: 600;
      }
      .downus {
        display: flex;
        width: 75vw;
        height: 85%;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        .grug {
          min-width: 437px;
          min-height: 437px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #fff;
          border-radius: 500px;
          gap: 15px;
          p {
            color: $dark-blue;
            font-size: 20px;
            font-weight: 600;
            font-family: Montserrat;
          }
        }
        p {
          font-size: 36px;
          font-weight: 500;
          font-family: Montserrat;
        }
      }
    }
    // Процесс
    .process {
      min-height: 100%;
      //min-height: calc(100% - 40px);
      //margin-top: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .pr-text {
        height: 20%;
        display: flex;
        align-items: center;
        color: $dark-blue;
        font-weight: 500;
        font-size: 4em;
        //background-color: antiquewhite;
      }
      .pr-block {
        height: 50%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        //background-color: azure;
        .circle {
          min-width: 307px;
          min-height: 307px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $blue;
          border-radius: 50%;
          color: white;
          font-weight: 500;
          font-size: 1.4em;
          transition: all ease 1s;
        }
        .circle:hover {
          min-width: 364px;
          min-height: 364px;
          background: #d0e2f3;
        }
        // Очистка
        .text-data1 {
          display: none;
        }
        .circle:hover .text-clear {
          display: none;
        }
        .circle:hover .text-data1 {
          display: flex;
          width: 250px;
          gap: 15px;
          justify-content: center;
          flex-direction: column;
          p {
            color: $dark-blue;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
          }
        }
        // Покрытие
        .text-data2 {
          display: none;
        }
        .circle:hover .text-coating {
          display: none;
        }
        .circle:hover .text-data2 {
          display: flex;
          width: 250px;
          gap: 15px;
          justify-content: center;
          flex-direction: column;
          p {
            color: $dark-blue;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
          }
        }
        // Финальная покраска
        .text-data3 {
          display: none;
        }
        .circle:hover .text-finish {
          display: none;
        }
        .circle:hover .text-data3 {
          display: flex;
          width: 250px;
          gap: 15px;
          justify-content: center;
          flex-direction: column;
          p {
            color: $dark-blue;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
    }
    // Качество
    .q-bg {
      background-image: url(../img/Фон1.png);
      min-height: 100%;
      .q-shadow {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.363);
        .q-top {
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: self-end;
          font-size: 64px;
          font-weight: 600;
          //letter-spacing: 0.02em;
          color: white;
          background: linear-gradient(
            180deg,
            #17161f 0%,
            rgba(21, 30, 47, 0) 100%
          );
        }
        .q-main {
          width: 75vw;
          height: 85%;
          display: flex;
          align-items: center;
          gap: 60px;
          .q-left {
            min-width: 437px;
            min-height: 437px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #fff;
            font-family: Josefin Sans;
            border-radius: 500px;
            font-weight: 400;
            font-size: 205px;
            color: $dark-blue;
            p {
              font-size: 20px;
              font-family: Montserrat;
              font-weight: 700;
              color: $dark-blue;
            }
          }
          p {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 36px;
          }
        }
      }
    }
    // Подробности
    .perks {
      min-height: 100%;
      display: flex;
      justify-content: center;
      .p-content {
        width: 75vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        .p-left {
          display: flex;
          flex-direction: column;
          gap: 40px;
          .p-left-text {
            display: flex;
            align-items: center;
            gap: 40px;
            p {
              font-size: 32px;
              font-weight: 600;
              font-family: Montserrat;
              color: $dark-blue;
            }
          }
        }
        .p-right {
          min-width: 640px;
          min-height: 640px;
          border-radius: 500px;
          background: $dark-blue;
        }
      }
    }
    // Контакты
    .contacts {
      width: 100%;
      height: 100vh;
    }
    .c-main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .c-top {
      width: 100%;
      height: 25%;
      font-size: 3em;
      font-weight: 600;
      letter-spacing: 0.02em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .blue-circle {
      background-color: $dark-blue;
      width: 650px;
      height: 100%;
      border-radius: 50%;
      .bc {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5%;
        .bc-sect {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15%;
          width: 70%;
          .sect-right {
            width: 100%;
            color: white;
            text-align: center;
            font-weight: 550;
            font-size: 1.5em;
          }
        }
      }
    }
    footer {
      width: 100%;
      height: 50vh;
      background-color: $dark-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white !important;
      .f-main {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 5%;
        .f {
          color: white !important;
        }
      }
    }
  }
}
